*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main{
  min-height: calc(100vh - 64px);
}
.container{
  width: 86%;
  background: transparent;
}

h2{
  margin: 0;
  font-size: 20px;
}

.search{
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.2;
  padding: 0 1rem !important;
  margin-bottom: 2rem !important;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #9e9e9e;
  outline: none;
  height: 3rem;
  width: 100%;
  -webkit-transition: border .3s, -webkit-box-shadow .3s;
  transition: border .3s, -webkit-box-shadow .3s;
  transition: box-shadow .3s, border .3s;
  transition: box-shadow .3s, border .3s, -webkit-box-shadow .3s;
}

@media (min-width: 1200px){
  .card__img {
    width: 100%;
    height: 77%;
}
}

@media (max-width: 767px){
  .container {
    width: 98%;

  }
  .search__block{
    padding: 0 20px;
  }
  
  .filters{
    padding: 0 20px;
  }

  .footer-copyright{
    padding: 0 20px !important;
  }
}



.input.validate.search{
  max-width: 90%;
}









