.card{
    background: #22222290;
    width: calc(25% - 1rem);
    border-radius: 4px;
    overflow: hidden;

    &__img{
        width: 100%;
        height: 400px;
        max-height: 400px;
    }
    &__info{
        padding: 0.5rem 1rem;
    }
    &__title{
        font-size: 18px;
        font-weight: 700;
        color: #FFFFFF97;
        margin-bottom: 0.5rem;
    }
    &__row{
        display: flex;
        justify-content: space-between;
    }
    &__desc{
        font-size: 16px;
        color: #FFFFFF90;
        font-weight: 500;
    }
  }

  @media (max-width: 1120px){
    .card{
      width: calc(33% - 1rem);
    }
  }
  @media (max-width: 992px){
    .card__img{
      height: 360px;
    }
  }
  
  @media (max-width: 767px){
    .card{
      width: calc(33% - 1rem);
      max-width: 240px;
    }

    .card__img{
      height: 290px;
    }
  }

  @media (max-width: 600px){
    .card{
      width: calc(50% - 1rem);
      min-width: none;
    }
  }

  @media (max-width: 470px){
    .card_img{
      height: 280px;
      min-width: 204px;
    }
  }
  @media (max-width: 450px){
    .card{
      width: 100%;
      max-width: 250px;
    }
  }

  .list{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
  }

  .search__block{
    padding-top: 0.5rem;
    position: relative;
  }

  .btn{
    position: absolute;
    top: .5rem;
    right: 0;
  }

  .filters{
    display: flex;
    justify-content: space-between;
    margin-bottom: .5rem;
  }
  
  
